[Unit]
Description=A torrent client that supports many providers
After=syslog.target

[Service]
User=mytorrent
ExecStart=@install-dir@/my-torrent.jar --spring.profiles.active=prod
WorkingDirectory=@install-dir@
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target