# Java
*.class

# Gradle
.gradle/
build/

#IDE
.idea/
out/
*.iml
classes/
target/
.vscode/
.project
.classpath
.settings/

#Project specific
*.db
db/
logs/
.embedmongo/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#JS
node_modules/
node/
*.log
package-lock.json
bin/