.search-box {
  display: inline-block;
  padding: 10px;
}

.search-input {
  display: inline-block;
  float: left;
}

.search-select {
  float: left;
}

table, td, th {
  border: 1px solid black;
  padding: 3px;
}
td {
  color: red;
}